extends layout

block content
  style.
    .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
    	margin:0;
    	border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
    	text-align:center;
    	width:25% !important;
    	float:left;
    	height:100px;
    	color:white;
    	padding:0;
    	line-height:100px;
    }
    .Android{
    	color:#86CC2A;
    }
    .Iphone{
    	color:#F8CD0B;
    }
    .PC{
    	color:#2AA7CC;
    }
    .Other{
    	color:#17BFAF;
    }
    .divider{
    	text-align:center;
    	margin-top:5%;
    }
    .divider:before,.divider:after{
    	content: '';
    	display: inline-block;
    	vertical-align: middle;
    	width: 35%;
    	height: 1px;
    	background-color: #BABFC3;
    	margin: 0 0% 0 -50%;
    }
    .divider:after{
    	margin: 0 -50% 0 0%;
    }
    .divider span{
    	font-size:24px;
    	padding:8px 40px;
    }
    .content{
    	width:100%;
    	max-width:900px;
    	margin:0 auto;
    	text-align:center;
    }
    .source .content div{
    	display:inline-block;
    	margin:20px;
    	width:100px;
    	height:100px;
    	line-height:100px;
    	text-align:center;
    	border-radius:22.7%;
    	border:1px solid gray;
    }
    .content a{
    	color:inherit !important;
    }
    .list-group{
      text-align:left;
      padding:5px;
    }
    .users{
      width:50px;
      height:50px;
      border:1px solid gray;
      float:left;
      margin-right:20px;
      border-radius:22.7%;
    }
    .edit{
      text-align:center;
    }
    .edit .img{
      width:120px;
      height:120px;
      border:1px solid gray;
      border-radius:22.7%;
      margin:100px auto;
      margin-bottom:50px;
    }
    .edit-btn{
      width:200px;
      height:55px;
      border:1px solid #D4D8DC;
      color:#9BA5A7;
      border-radius:10px;
      line-height:50px;
      margin:30px auto;
    }
    .edit-btn:hover{
      border:1px solid gray;
      color:gray;
    }
    .passwd-form{
      display:block;
      margin:40px auto;
    }
    .form-group{
      width: 240px;
      padding: 18px 20px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #BABFC3;
      background-color: #fff;
      position: relative;
      z-index: 2;
      margin:10px;  
    }
    .save{
      width: 100px;
      font-size:16px;
      padding: 15px 20px;
      border:1px solid #D4D8DC;
      color:#9BA5A7;
    }
    .save:hover{
      border:1px solid gray;
      color:gray;
    }
  nav.navbar.navbar-transparent
    a.icon(href="../")
      i share&link
    ul.navbar-bracket
      a.active(href="../signin")  
        li
          |退出
  div.edit
   div.img
    a(href="#")
     div
   div 598471284@qq.com
   form.passwd-form(style="display:none")
    input.form-group(placeholder="密码")
    input.form-group(placeholder="新密码")
    input.form-group.save(type="submit" value="保存")
   a(href="#quit")
    div.edit-quit.edit-btn(style="display:none") 取消
   a(href="#passwd")
    div.edit-passwd.edit-btn 修改密码