extends layout

block content
  style.
    .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
  nav.navbar.navbar-transparent
    a.icon(href="../")
      i share&link
    ul.navbar-bracket
      a.active(href="../")
        li
          |主页
      a(href="../market")
        li
          |市集
      //- a(href="../trends")
      //-   li
      //-     |动态
      a(href="./users/info")  
        li
          |个人中心