extends layout

block content
  style.
    .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
    	margin:0;
    	border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
    	text-align:center;
    	width:25% !important;
    	float:left;
    	height:100px;
    	color:white;
    	padding:0;
    	line-height:100px;
    }
    .divider{
    	text-align:center;
    	margin-top:5%;
    }
    .divider:before,.divider:after{
    	content: '';
    	display: inline-block;
    	vertical-align: middle;
    	width: 35%;
    	height: 1px;
    	background-color: #BABFC3;
    	margin: 0 0% 0 -50%;
    }
    .divider:after{
    	margin: 0 -50% 0 0%;
    }
    .divider span{
    	font-size:24px;
    	padding:8px 40px;
    }
    .edit{
      text-align:center;
    }
    .edit .img{
      width:120px;
      height:120px;
      border:1px solid gray;
      border-radius:22.7%;
      margin:100px auto;
      margin-bottom:50px;
      line-height:120px;
    }
    .content{
      width:60%;
      max-height:900px;
      min-height:600px;
      margin:0 auto;
      background-color:red;
    }
  nav.navbar.navbar-transparent
    a.icon(href="../")
      i share&link
    ul.navbar-bracket
      a.active(href="../signin")  
        li
          |退出
  div.edit
   div.img QQ
    a(href="#")
     div
   div.content
    div
      div