extends layout

block content
  style.
    .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
    	margin:0;
    	border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
    	text-align:center;
    	width:25% !important;
    	float:left;
    	height:100px;
    	color:white;
    	padding:0;
    	line-height:100px;
    }
    .Android{
    	color:#86CC2A;
    }
    .Iphone{
    	color:#F8CD0B;
    }
    .PC{
    	color:#2AA7CC;
    }
    .Other{
    	color:#17BFAF;
    }
    .divider{
    	text-align:center;
    	margin-top:10%;
    }
    .divider:before,.divider:after{
    	content: '';
    	display: inline-block;
    	vertical-align: middle;
    	width: 35%;
    	height: 1px;
    	background-color: #BABFC3;
    }
    .divider:after{
    }
    .divider span{
    	font-size:24px;
    	padding:8px 40px;
    }
    .content{
    	width:100%;
    	max-width:900px;
    	margin:0 auto;
      margin-top:50px;
    	text-align:center;
    }
    .content div{
    	display:inline-block;
    	margin:20px;
    	width:100px;
    	height:100px;
    	line-height:100px;
    	text-align:center;
    	border-radius:22.7%;
    	border:1px solid gray;
    }
    .content a{
    	color:inherit !important;
    }
  nav.navbar.navbar-transparent
    a.icon(href="../")
      i share&link
    ul.navbar-bracket
      a(href="../")
        li
          |主页
      a.active(href="../market")
        li
          |市集
      //- a(href="../trends")
      //-   li
      //-     |动态
      a(href="./users/info")  
        li
          |个人中心
  div.market
   a(href="#Android")
    div.col-lg-3.Android Android
   a(href="#Iphone")
    div.col-lg-3.Iphone Iphone
   a(href="#PC")
    div.col-lg-3.PC PC
   a(href="#Other")
    div.col-lg-3.Other Other
  div.Android#Android.type
   div.divider
    span Android
   div.content
    a(href="../app")
     div QQ
    a(href="../app")
     div 微博
    a(href="../app")
     div 知乎
    a(href="../app")
     div 百度
    a(href="../app")
     div QQ音乐
    a(href="../app")
     div 酷狗
    a(href="../app")
     div 滴滴
    a(href="../app")
     div 百度地图
  div.Iphone#Iphone.type(style="display:none")
   div.divider
    span Iphone
   div.content
    a(href="../app")
     div QQ
    a(href="../app")
     div 微博
    a(href="../app")
     div 知乎
    a(href="../app")
     div 百度
    a(href="../app")
     div QQ音乐
    a(href="../app")
     div 酷狗
    a(href="../app")
     div 滴滴
    a(href="../app")
     div 百度地图
  div.PC#PC.type(style="display:none")
   div.divider
    span PC
   div.content
    a(href="../app")
     div QQ
    a(href="../app")
     div 微博
    a(href="../app")
     div 知乎
    a(href="../app")
     div 百度
    a(href="../app")
     div QQ音乐
    a(href="../app")
     div 酷狗
    a(href="../app")
     div 滴滴
    a(href="../app")
     div 百度地图
  div.Other#Other.type(style="display:none")
   div.divider
    span Other
   div.content
    a(href="../app")
     div QQ
    a(href="../app")
     div 微博
    a(href="../app")
     div 知乎
    a(href="../app")
     div 百度
    a(href="../app")
     div QQ音乐
    a(href="../app")
     div 酷狗
    a(href="../app")
     div 滴滴
    a(href="../app")
     div 百度地图