extends layout

block content
  style.
    .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
    	margin:0;
    	border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
    	text-align:center;
    	width:25% !important;
    	float:left;
    	height:100px;
    	color:white;
    	padding:0;
    	line-height:100px;
    }
    .Android{
    	color:#86CC2A;
    }
    .Iphone{
    	color:#F8CD0B;
    }
    .PC{
    	color:#2AA7CC;
    }
    .Other{
    	color:#17BFAF;
    }
    .divider{
    	text-align:center;
    	margin:4% 0;
    }
    .divider:before,.divider:after{
    	content: '';
    	display: inline-block;
    	vertical-align: middle;
    	width: 35%;
    	height: 1px;
    	background-color: #BABFC3;
    	margin: 0 0% 0 -50%;
    }
    .divider:after{
    	margin: 0 -50% 0 0%;
    }
    .divider span{
    	font-size:24px;
    	padding:8px 40px;
    }
    .content{
    	width:100%;
    	max-width:900px;
    	margin:0 auto;
    	text-align:center;
    }
    .content a{
    	color:inherit !important;
    }
    .list-group{
      text-align:left;
      padding:5px;
    }
    .users{
      width:50px;
      height:50px;
      border:1px solid gray;
      float:left;
      margin-right:20px;
      border-radius:22.7%;
    }
  nav.navbar.navbar-transparent
    a.icon(href="../")
      i share&link
    ul.navbar-bracket
      a(href="../")
        li
          |主页
      a(href="../market")
        li
          |市集
      a.active(href="../trends")
        li
          |动态
      a(href="./users/info")  
        li
          |个人中心
  div#trends
   div.divider
    span 动态
   div.content
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。
    div.list-group
      a.list-group-item(href="#")
        div.users
        h4.list-group-item-heading 招聘UI设计师
        p.list-group-item-text 急需一名UI，请联系我。