<% include header.ejs %>
<style type="text/css">
div{
  overflow: hidden;
}
  .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .icon i{
      color:white;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #6B6B6B;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .content{
      background: url(./img/bg.jpg) no-repeat center center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      height: 100%;
    }
    .menu{
      background-color:#4b4f53;
      float: left;
      width:10%;
      height:90%;
      /*bcackground-repeat:repeat-x;*/
      /*background: linear-gradient(to repeat-x, rgba(88,87,86,0), rgba(205,92,92,1)); */
    }
    .con{
      width: 100%;
      height: 100%;
    }
    .function{
      float:left;
      width: 100%;
      height: 90%;
      box-sizing:border-box;
      padding: 56px 12px;
      margin: 5px 40px; 
    }
    .kong{
      width: 80px;
      height: 80px;
    }
    .title{
      width: 100%;
      height: 10%;
      background-color: #585e65;
    }
    .title-name{
      width: 30%;
      height: 80%;
      background-color: #585e65;
      text-align: center;
      font-size: 40px;
      font-color:#222e3a;
    }
    .title-kong{
      width: 100%;
      height: 10%;
      background-color: #585e65;
    }
    .Show{
      float: right;
      width: 66%;
      height:80%;
      background-color: #5F9EA0;
      padding: 50px 100px;
      /*display: none;*/
      /*background: url(./img/bei.gif);
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;*/
    }
    .function-choose{
      width: 90%;
      height: 90%;
      background-color: #4b4f53;
      display: block;
      float: left;
    }
    .writing{
      width: 34%;
      height: 80%;
      background-color: #990033;
      float: left;
      display: none;
    }
    .formwork{
      width: 34%;
      height: 80%;
      background-color: #436EEE;
      float: left;
      display: none;
    }
    .setting{
      width: 34%;
      height: 80%;
      background-color: #104E8B;
      float: left;
      display: none;
    }
    .annimation{
      width: 34%;
      height: 80%;
      background-color: #5F9EA0;
      float: left;
      display: none;
    }
    .buttom{
      height: 20%;
      width: 100%;
      display: block;
      float: left;
      background-color: #4b4f53;
    }
    .buttom-bei{
      height: 107%;
      width: 100%;
      /*display: none;*/
      float: left;
      background-color: #5F9EA0;
      padding: 10px 10px;
      margin: 10px 10px;
      box-sizing: border-box;
      overflow-x:scroll !important;
      overflow-y:hidden;  
      display: inline-block;
    }
    .exit{
      margin: 60% 0px;
      float: right;
    }
    .shen{
      margin: 62px -100px;
      float: right;
      height: 35px;
      width: 60px;
      background-color:#4b4f53; 
    }
    .add{
      height: 100%;
      width: 10%;
      float: right;
      padding: 25px 32px;
    }
    .btn{
      background-color: #4b4f53;
    }
    button:hover{
      background: #58a1e9;
    }
    .formwork_title{
      width: 100%;
      height: 10%;
      font-size: 40px;
      margin: 10px auto;  
      position: absolute;
     /* background-color: #58a1e9;*/
     vertical-align: middle;
     position: relative;
     text-align: center;
    }
    .formwork_style{
      width: 100%;
      height: 90%;
     /* background-color: #58a1e9;*/
      float: left;
    }
    .model_1{
      height: 101px;
      width: 151px;
      background: url(./img/model1.png);
      float: left;
      cursor: pointer;
    }
    .formwork_kong1{
      height: 101px;
      width: 30px;
      float: left;
    }
    .formwork_kong2{
      height: 101px;
      width: 30px;
      float: left;
    }
    .model_2{
      height: 101px;
      width: 151px;
      background: url(./img/model2.png);
      float: left;
      cursor: pointer;
    }
    .mod_1{
      min-height: 550px;
      min-width: 750px;
      background-color: #104E8B;
      text-align: center;
     /* display: none;*/
    }
    .mod_2{
      min-height: 550px;
      min-width: 750px;
      background-color: #104E8B;
      display: none;
      text-align: center;
    }
    .mod_1-k1{
      margin-top: 200px;
      min-height: 100px;
      width: 100%;
      background-color: #104E8B;
      color: black;
      font-size: 70px;
     text-align: center;
     vertical-align: middle;
    }
    .mod_1-k2{
      margin-top: 10px;
      min-height: 70px;
      width: 100%;
      /*background-color: black;*/
      color: black;
      font-size: 40px;
      vertical-align: middle;
    /* position: relative;*/
     text-align: center;
     background-color: #104E8B;
    }
    .mod_2-title{
      min-height: 100px;
      width: 100%;
      text-align: center;
      font-size: 50px;
      color: black;
      background-color: #104E8B;
    }
    .mod_2-neirong{
      min-height: 380px;
      width: 100%;
      background-color: black;
      overflow-y:scroll;
    }
    .mod_2-neirong1{
      min-width: 750px;
      width: 100%;
      background-color: #104E8B;
      font-size: 40px;
      color: black;
      text-align: left;
    }
    .mod_2-neirong2{}
    .save{
       margin-top: -25px;
    }
    .page page1{
      min-height: 550px;
      min-width: 750px;
    }
    .page page2{
      min-height: 550px;
      min-width: 750px;
    }
    .ppt1{
      width: 10%;
      height: 80%;
      background-color: #104E8B;
      float: left;
      margin-top: 12px;
      margin-left: 12px;
      cursor: pointer;
    }
    .ppt1:hover{
      border: 3px solid white;
    }
    .ppt{
      height: 80%;
      width: 90%;
     /* background-color: black;*/
      float: left;
      margin-top: 12px;
      overflow: auto;
    }
    .del-ppt{
      width: 100%;
      height: 20%;
      /*background-color: black;*/
      font-size: 10px;
      vertical-align: middle;
      text-align: right;
      vertical-align: middle;
      /*display: none;*/
      color: black;
    }
    .del-ppt button{
      display: none;
    }
    .del-ppt:hover button{
      display: block;
    }
    .ppt-n{
      width: 100%;
      height: 80%;
     /* background-color: #104E8B;*/
    }
    .ppt1-title{
      height: 25%;
      width: 100%;
      color: black;
      margin-top: 15%;
      font-size: 10px;
       /*background-color: black;*/
      text-align: center;
      vertical-align: middle;
    }
    .ppt1-subtitle{
      height: 15%;
      width: 100%;
      color: black;
      margin-top: 3%;
      font-size: 7px;
      /*background-color: black;*/
      text-align: center;
      vertical-align: middle;
    }
    .ppt1-mod2-title{
      width: 100%;
      height: 30%;
      color: black;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
    }
    .ppt1-mod2-neirong{
      width: 100%;
      height: 20%;
      color: black;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
    input{border: 0;}
    button{border: 0;}
    .li-active{
      border: 3px solid white;
    }
}
</style>
<body>
<div class="con">
  <div class="title">
  <div class="title-kong"></div>
  <div class="title-name">网页版ppt编辑器</div>
  <div class="save"><button id="signin" type="button" class="btn btn-default btn-corlor" aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button></div>
  </div>
  <div class="menu">
    <div class="function">
        <button id="wen" type="button" class="btn btn-default btn-corlor" aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>文字
        </button>
      <div class="kong"></div>
      <button id="mu" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>模板
      </button>
      <div class="kong"></div>
      <button id="bei" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>背景
      </button>
      <div class="kong"></div>
      <button id="don" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>动画
      </button>
      </div>
  </div>
  <div class="function-choose">
  <div class="writing">
    <button id="suo1" type="button" class="btn btn-default exit" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
  </div>
  <div class="formwork">
  <div class="formwork_title">
    模板选择
    </div>
    <div class="formwork_style"> 
    <div class="formwork_kong1"></div>
    <div class="model_1"><img src="/img/model1.png" id="img1" onclick="mod1();"></div>
    <div class="formwork_kong2"></div>
    <div class="model_2"><img src="/img/model2.png" id="img2" onclick="mod2();"></div>
    <button id="suo2" type="button" class="btn btn-default exit" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      </div>
  </div>
  <div class="setting">
    <button id="suo3" type="button" class="btn btn-default exit" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
  </div>
  <div class="annimation">
    <button id="suo4" type="button" class="btn btn-default exit" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
  </div>
  <div class="Show">
  <div class="page page1" data-type = "1">
    <div class="mod_1">
      <!-- <div class="mod_1-k1" contenteditable="true" id="title1">标题一</div> -->
      <input class="mod_1-k1" id="title1" placeholder="标题一"></input>
      <!-- <div class="mod_1-k2" contenteditable="true" id="subtitle1">小标题</div> -->
      <input class="mod_1-k2" id="subtitle1" placeholder="小标题"></input>
    </div>
  </div>
  <div class="page page2" data-type = "2">
    <div class="mod_2">
      <!-- <div class="mod_2-title"contenteditable="true">标题</div> -->
      <input class="mod_2-title" id="mod2-title" placeholder="标题"></input>
        <!-- <div class="mod_2-neirong"> -->
          <!-- <div class="mod_2-neirong1"contenteditable="true">.内容一</div> -->
          <input class="mod_2-neirong1" id="mod2-neirong" placeholder=".内容一"></input>
        <!-- </div> -->
      </div>
  </div>
  <div class="shen">
  <button id="jia" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>suo
      </button>
      </div>
  </div>
  <div class="buttom">
    <div class="buttom-bei">
      <div class="ppt">
      <!-- <div class="bottom-box"> -->
        <div class="ppt1 li-active" id="test" data-type="0">
          <!-- <div class="mod" data-title="zhi1" data-subtitle="zhi2"></div> -->
          <div class="ppt-n">
          <div class="ppt1-mod1">
          <div class="ppt1-title"></div>
          <div class="ppt1-subtitle"></div>
          </div>
          <div class="ppt1-mod2">
          <div class="ppt1-mod2-title"></div>
          <div class="ppt1-mod2-neirong"></div>
          </div>
          </div>
          <div class="del-ppt"><button class="del" data-toggle="modal" data-target="#myModal">删除</button></div>
        </div>
      <!-- </div> -->
      </div>
      <div class="add">
        <button  type="button" class="btn btn-default " aria-label="Left Align"  style="width:100px;height:100px;">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" data-id="" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        要删除该ppt吗?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">是</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">否</button>
      </div>
    </div>
  </div>
</div>
</body>
<% include footer.ejs %>
<script type="text/javascript">
  // var nowId = ''; 
  $("#wen").click(function(){
    $(".writing").toggle();
    $(".formwork").hide();
    $(".setting").hide();
    $(".annimation").hide();
  });
  $("#mu").click(function(){
    $(".formwork").toggle();
    $(".writing").hide();
    $(".setting").hide();
    $(".annimation").hide();
  });
  $("#bei").click(function(){
    $(".setting").toggle();
    $(".formwork").hide();
    $(".writing").hide();
    $(".annimation").hide();
  });
  $("#don").click(function(){
    $(".annimation").toggle();
    $(".formwork").hide();
    $(".setting").hide();
    $(".writing").hide();
  });
  $("#suo1").click(function(){
    $(".annimation").hide();
    $(".formwork").hide();
    $(".setting").hide();
    $(".writing").hide();
  });
  $("#suo2").click(function(){
    $(".annimation").hide();
    $(".formwork").hide();
    $(".setting").hide();
    $(".writing").hide();
  });
  $("#suo3").click(function(){
    $(".annimation").hide();
    $(".formwork").hide();
    $(".setting").hide();
    $(".writing").hide();
  });
  $("#suo4").click(function(){
    $(".annimation").hide();
    $(".formwork").hide();
    $(".setting").hide();
    $(".writing").hide();
  });
  $("#jia").click(function(){
    $(".buttom-bei").toggle();
  });
  $("#data1").click(function(){

  })
  $("#title1").on("input change",function(){
    console.log($("#title1").val());
    var id = $("body .page1").attr("data-id");
    console.log(id);
    $("#"+id+" .ppt1-title").text($("#title1").val());
  });

  $("#subtitle1").on("input change",function(){
    console.log($("#subtitle1").val());
    var id = $("body .page1").attr("data-id");
    console.log(id);
    $("#"+id+" .ppt1-subtitle").text($("#subtitle1").val());
  });

  $("#mod2-title").on("input change",function(){
    console.log($("#mod2-title").val());
    // var id = $(".page2").data("id");
    var id = $("body .page2").attr("data-id");
    $("#"+id+" .ppt1-mod2-title").text($("#mod2-title").val());
  });

  $("#mod2-neirong").on("input change",function(){
    console.log($("#mod2-neirong").val());
    // var id = $(".page2").data("id");
    var id = $("body .page2").attr("data-id");
    $("#"+id+" .ppt1-mod2-neirong").text($("#mod2-neirong").val());
  });

  function mod1(){
    $(".mod_1").show();
    $(".mod_2").hide();
    var id = $(".page1").data("id");
    var page1 = '<div>test</div>';
    $("#"+id).attr("data-type","1");
    $("#"+id).append(page1);
  }
  function mod2(){
    $(".mod_2").show();
    $(".mod_1").hide();
    var id = $(".page2").data("id");
    var page2 = '<div>Test</div>';
    $("#"+id).attr("data-type","2");
    $("#"+id).append(page2);
  }

  $(".add").on("click",function(){
    var date = new Date().getTime();
    console.log(date);
    var button = '<div class="ppt1" id="'+date+'" data-type="0"><div class="ppt-n"><div class="ppt1-mod1"><div class="ppt1-title"></div><div class="ppt1-subtitle"></div></div><div class="ppt1-mod2"><div class="ppt1-mod2-title"></div><div class="ppt1-mod2-neirong"></div></div></div><div class="del-ppt"><button class="del" data-toggle="modal" data-target="#myModal">删除</button></div>';
    $(".ppt").append(button);
  });

  $("body").on("click",".del",function(){
    console.log($(this).parent().parent()[0].id);
     $("body .fade").attr("data-id",$(this).parent().parent()[0].id);
  })

  $("body").on("click",".btn-default",function(){
    // var Del=window.confirm("确定要删除该ppt?");
    // $(".modal").Show();
     var id = $("body .fade").attr("data-id");
     console.log(id);
    $("#"+id).remove();
  })
  // $(".title-name").on("click",function(){
  //   var id = $("body .page1").attr("data-id");
  //   console.log(id);
  // })
  $(".buttom").on("click",".ppt1",function(){
    // alert(this.id);
    $(".ppt1").removeClass("li-active");
    $(this).addClass("li-active");
    $(".page").attr("data-id",this.id);
    var type = $(this).data("type");
    // $(this).attr("data-type","1");
    console.log(type);
    // $(".ppt1").append("");
    if(type == 1){
      $(".page2").hide();
      $(".page1").show();
      $(".ppt1-mod1").Show();
      $(".ppt1-mod2").hide();
    }
    if(type==2){
      $(".page1").hide();
      $(".page2").show();
      $(".ppt1-mod2").Show();
      $(".ppt1-mod1").hide();
    }
  })

</script>
</html>