<% include header.ejs %>
<style type="text/css">
	.icon{
	  display:block;
	  float:left;
	  margin:16px 20px;
	  font-weight:600;
	}
	.navbar{
		margin:0;
		border-radius:0;
	}
	.navbar-bracket{
	  display:  block;
	  float:right;
	  overflow: hidden;
	  margin:26px 20px;
	  padding: 0;
	  list-style: none;
	  vertical-align: middle;
	  white-space: nowrap;
	  font-family: Hiragino Sans GB, Microsoft Yahei !important;
	}
	ul li{
	  display:block;
	  float:left;
	  display: inline-block;
	  margin-top: -4px;
	  color: #000;
	  vertical-align: middle;
	  text-align: center;
	  text-decoration: none;
	  font-weight: 600;
	  font-size:18px;
	  padding:0 10px;
	}
	.col-lg-3{
		text-align:center;
		width:25% !important;
		float:left;
		height:100px;
		color:white;
		padding:0;
		line-height:100px;
	}
	.Android{
		color:#86CC2A;
	}
	.Iphone{
		color:#F8CD0B;
	}
	.PC{
		color:#2AA7CC;
	}
	.Other{
		color:#17BFAF;
	}
	.divider{
		text-align:center;
		margin-top:5%;
	}
	.divider:before,.divider:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 35%;
		height: 1px;
		background-color: #BABFC3;
		margin: 0 0% 0 -50%;
	}
	.divider:after{
		margin: 0 -50% 0 0%;
	}
	.divider span{
		font-size:24px;
		padding:8px 40px;
	}
	.content{
		width:100%;
		max-width:900px;
		margin:0 auto;
		text-align:center;
	}
	.source .content div{
		display:inline-block;
		margin:20px;
		width:100px;
		height:100px;
		line-height:100px;
		text-align:center;
		border-radius:22.7%;
		border:1px solid gray;
	}
	.content a{
		color:inherit !important;
	}
	.list-group{
	  text-align:left;
	  padding:5px;
	}
	.users{
	  width:50px;
	  height:50px;
	  border:1px solid gray;
	  float:left;
	  margin-right:20px;
	  border-radius:22.7%;
	}
	.edit{
	  text-align:center;
	}
	.edit .img{
	  width:120px;
	  height:120px;
	  border:1px solid gray;
	  border-radius:22.7%;
	  margin:100px auto;
	  margin-bottom:50px;
	}
	.edit-btn{
	  width:200px;
	  height:55px;
	  border:1px solid #D4D8DC;
	  color:#9BA5A7;
	  border-radius:10px;
	  line-height:50px;
	  margin:30px auto;
	}
	.edit-btn:hover{
	  border:1px solid gray;
	  color:gray;
	}
	.passwd-form{
	  display:block;
	  margin:40px auto;
	}
	.form-group{
	  width: 240px;
	  padding: 18px 20px;
	  height: 50px;
	  border-radius: 5px;
	  border: 1px solid #BABFC3;
	  background-color: #fff;
	  position: relative;
	  z-index: 2;
	  margin:10px;  
	}
	.save{
	  height: 51px;
	  width: 100px;
	  font-size:16px;
	  padding: 15px 20px;
	  border:1px solid #D4D8DC;
	  color:#9BA5A7;
	  display: inline-block;
	}
	.save:hover{
	  border:1px solid gray;
	  color:gray;
	}
	/*.hidden {
	    display: none;
	}*/
</style>
<body>
<nav class="navbar navbar-transparent">
	<a href="../" class="icon"> <i>share&link</i>
	</a>
	<ul class="navbar-bracket">
		<a href="./users/info" class="active">
			<li>个人中心</li>
		</a>
	</ul>
</nav>
<div class="edit">
	<!-- <div class="img">
		<a href="#">
			<div></div>
		</a>
	</div> -->
	<a href="javascript:fileClick();" class="userHead">
		<img class="img" src="<%= userInfo[0].attributes.userHead %>"></img>
	</a>

	<div id="dropbox"></div>
    <input id="multiple" class="hidden" type="file" multiple>

	<div><%= userInfo[0].attributes.userName %></div>
	<form style="display: none;" class="passwd-form">
		<input type="password" placeholder="新密码" class="form-group" name="password">
		<input type="password" placeholder="确认新密码" class="form-group" name="password2">
		<a><div value="保存" class="form-group save">保存</div></a>
	</form>
	<a>
		<div style="display: none;" class="edit-quit edit-btn">取消</div>
	</a>
	<a href="#passwd">
		<div class="edit-passwd edit-btn" style="display: block;">修改密码</div>
	</a>
</div>
<% include footer.ejs %>
<script type="text/javascript">
	$(".save").on("click",function(){
      var data = $("input").serialize();
        $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/edit",
          success : function(result){
            if(result){
              alert("更改成功,请重新登陆");
              setTimeout(function(){
                window.location.href="./signin";
              },1000);
            }else{
              alert("更改失败");
            }
          },
          error: function(error){
            alert(error);
          }
        });
      // $("form").submit();
  })
</script>
<script type="text/javascript" src="./../js/jquery.html5uploader.min.js"></script>
<script type="text/javascript">
  function fileClick(){
  	$("#multiple").click();
  }
  $(function() {
    $("#dropbox, #multiple").html5Uploader({
      name: "userHead",
      postUrl: "./users/photo",
      onSuccess: function(result){
      	// console.log(result.target.response);
      	alert("更换成功");
      	// $(".img").attr("src",result.target.response);
      },
      onClientLoad: function(e, file) {
	        	console.log(e.target.result);
	            $(".img").attr("src",e.target.result);
	        }
    });
  });
</script>
</html>