<% include header.ejs %>
<style type="text/css">
.icon{
    display:block;
    float:left;
    margin:16px 20px;
    font-weight:600;
  }
  .navbar{
    margin:0;
    border-radius:0;
  }
  .navbar-bracket{
    display:  block;
    float:right;
    overflow: hidden;
    margin:26px 20px;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: Hiragino Sans GB, Microsoft Yahei !important;
  }
  ul li{
    display:block;
    float:left;
    display: inline-block;
    margin-top: -4px;
    color: #000;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size:18px;
    padding:0 10px;
  }
  .dropbox{
  	position: absolute;
    left: 50%;
    top: 50%;
    width: 880px;
    height: 476px;
    line-height: 476px;
    font-size: 40px;
    border: 2px dashed #A9B1B3;
    border-radius: 24px;
    /*padding: 110px 0;*/
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1) translate(-50%,-50%);
    -ms-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
  }
  .button{
  	position: absolute;
  	width: 100px;
  	top: 0;
  	left:50%;
  }
  .android{
    background-color:#86CC2A;
  }
  .ios{
    background-color:#F8CD0B;
  }
  .pc{
    background-color:#2AA7CC;
  }
  .web{
    background-color:#17BFAF;
  }
</style>
<body>
<nav class="navbar navbar-transparent">
	<a href="../" class="icon"> <i>share&link</i>
	</a>
	<ul class="navbar-bracket">
		<a href="./users/info" class="active">
			<li>个人中心</li>
		</a>
	</ul>
</nav>
	<div id="dropbox" class="dropbox" class="<%= type %>"><%= type %></div>
    <input id="multiple" class="hidden" type="file" id="upload" multiple>

    <button class="button">
    	提交
    </button>

<% include footer.ejs %>
<script type="text/javascript" src="./../js/jquery.html5uploader.min.js"></script>
<script type="text/javascript" src="http://www.igloolab.com/jquery-html5-uploader/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript">
  $("#dropbox").on("click",function(){
  	$("#multiple").click();
  });
  // $(function() {
  //   $("#dropbox, #multiple").html5Uploader({
  //     name: "userHead",
  //     postUrl: "./users/photo",
  //     onSuccess: function(result){
  //     	// console.log(result.target.response);
  //     	alert("更换成功");
  //     	$(".img").attr("src",result.target.response);
  //     } 
  //   });
  // });
</script>
<script type="text/javascript">
	var data = {};

	$(function() {
	    var fileTemplate = "<div id=\"{{id}}\">";
	    fileTemplate += "<div class=\"progressbar\"></div>";
	    fileTemplate += "<div class=\"preview\"></div>";
	    fileTemplate += "<div class=\"filename\">{{filename}}</div>";
	    fileTemplate += "</div>";

	    function slugify(text) {
	        text = text.replace(/[^-a-zA-Z0-9,&\s]+/ig, '');
	        text = text.replace(/-/gi, "_");
	        text = text.replace(/\s/gi, "-");
	        return text;
	    }
	    $("#dropbox,#multiple").html5Uploader({
	    	postUrl: "./send",
	        onClientLoadStart: function(e, file) {
	        	console.log(file);

	            var upload = $("#dropbox");
	            if (upload.is(":hidden")) {
	                upload.show();
	            }
	            upload.append(fileTemplate.replace(/{{id}}/g, slugify(file.name)).replace(/{{filename}}/g, file.name));

	        },
	        onClientLoad: function(e, file) {
	        	console.log(e.target.result);
	            $("#" + slugify(file.name)).find(".preview").append("<img src=\"" + e.target.result + "\" alt=\"\">");

	            data.e = file;

	            console.log(data);
	        },
	        onServerLoadStart: function(e, file) {
	            $("#" + slugify(file.name)).find(".progressbar").progressbar({
	                value: 0
	            });
	        },
	        onServerProgress: function(e, file) {
	            if (e.lengthComputable) {
	                var percentComplete = (e.loaded / e.total) * 100;
	                $("#" + slugify(file.name)).find(".progressbar").progressbar({
	                    value: percentComplete
	                });
	            }
	        },
	        onServerLoad: function(e, file) {
	            $("#" + slugify(file.name)).find(".progressbar").progressbar({
	                value: 100
	            });
	        }
	    });
	    $(".download")
	        .mousedown(function() {
	            $(this).css({
	                "background-image": "url('images/download-clicked.png')"
	            });
	        })
	        .mouseup(function() {
	            $(this).css({
	                "background-image": "url('images/download.png')"
	            });
	        });
	});
</script>
</html>