<% include header.ejs %>
<style type="text/css">
  .icon{
      display:block;
      margin:16px 20px;
      font-weight:600;
    }
  .form{
      display:block;
  }
  .form-container{
      display:block;
      box-sizing: border-box;
      width:40%;
      max-width:500px;
      height:50px;
      margin:24px auto;
      padding:18px 20px;
      border-radius: 5px;
  }
  .btn-content{
      background:#66afe9;
      border-color: #66afe9;
      line-height:12px;
      color:white !important;
      margin:38px auto;
  }
  .btn-content-empty{
      background:#fff;
      border-color: #66afe9;
      color:#66afe9 !important;
      line-height:12px;
  }
  .divider{
      text-align:center;
      margin-top:5%;
  }
  .divider:before,.divider:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35%;
      height: 1px;
      background-color: #BABFC3;
      margin: 0 0% 0 -50%;
  }
  .divider:after{
      margin: 0 -50% 0 0%;
    }
  .divider span{
      font-size:24px;
      padding:8px 40px;
  }
</style>
<body>
  <a href="./" class="icon"> <i>Share&Link</i>
  </a>
  <div>
    <div class="divider">
      <span>注册</span>
    </div>
  </div>
  <form class="form">
    <input placeholder="邮箱" class="form-control form-container" name="email">
    <input type="password" placeholder="密码" class="form-control form-container" name="password"></form>
  <button class="form-container btn btn-block btn-content" id="signup">注册</button>
  <a href="../signin">
    <button class="form-container btn btn-block btn-content-empty">我是老用户，我要登陆</button>
  </a>
<% include footer.ejs %>
<script type="text/javascript">
  $("#signup").on("click",function(){
      var data = $("input").serialize();
        $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/users/info",
          success : function(json){
            alert(json);
          },
          error: function(error){
            alert(error);
          }
        });
  })
</script>
</html>